altair
attrs
blinker
branca
cachetools
certifi
charset-normalizer
click
contourpy
cycler
descartes
folium
fonttools
geopandas
GitPython
gitdb
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
narwhals
nltk
numpy
packaging
pandas
pillow
plotly
protobuf
pyarrow
pydeck
pyogrio
pyparsing
pyproj
python-dateutil
python-decouple
pytz
referencing
regex
requests
rpds-py
seaborn
shapely
six
smmap
streamlit
streamlit-aggrid
streamlit_folium
tenacity
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
watchdog
wget
wordcloud
xyzservices

